In [1]:
!pip install feature-engine

Requirement already satisfied: feature-engine in d:\anaconda\lib\site-packages (0.6.0)
Requirement already satisfied: statsmodels>=0.11.1 in d:\anaconda\lib\site-packages (from feature-engine) (0.12.0)
Requirement already satisfied: pandas>=1.0.3 in d:\anaconda\lib\site-packages (from feature-engine) (1.1.2)
Requirement already satisfied: scipy>=1.4.1 in d:\anaconda\lib\site-packages (from feature-engine) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.2 in d:\anaconda\lib\site-packages (from feature-engine) (0.23.2)
Requirement already satisfied: numpy>=1.18.2 in d:\anaconda\lib\site-packages (from feature-engine) (1.19.2)
Requirement already satisfied: patsy>=0.5 in d:\anaconda\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas>=1.0.3->feature-engine) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas>=1.0.3->feature-engine) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (2.1.0)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (0.14.1)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from patsy>=0.5->statsmodels>=0.11.1->feature-engine) (1.14.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

pd.pandas.set_option('display.max_columns', None)
%matplotlib inline

In [3]:
titanic = pd.read_csv('C:/Users/Adithya Arunganesh/Desktop/Machine Learning/HW2/titanic.csv')

titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# Unique variable values

for var in titanic.columns:
    print(var,titanic[var].unique()[0:20],' \n')

PassengerId [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Survived [0 1]

Pclass [3 1 2]

Name ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Williams, Mr. Charles Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Masselmani, Mrs. Fatima']

Sex ['male' 'female']

Age [22. 38. 26. 35. nan 54.  2. 27. 14.  4. 58. 20. 39. 55. 31. 34. 15. 28.
  8. 19.]

SibSp [1 0 3 4 2 5 8]

Parch [0 1 2 5 3 4 6]

Ticket ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736' 'PP 9549' '113783' 'A/5. 2151'
 '347082' '350406' '248706' '382652' '244373' '345763' '2649']

Fare [ 7.25   71.2833  7.925  53.1     8.05    8.4583 51.8625 21.075  11.1333
 30.0708 16.7    26.55   31.275   7.8542 16.     29.125  13.     18.
  7.225  26.    ]

Cabin [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12']

Embarked ['S' 'C' 'Q' nan]

In [6]:
#Variable types


#mixed
mixed= ['Cabin']

#categorical
categorical=[var for var in titanic.columns if titanic[var].dtype=='O' and var not in mixed]

#Numerical:-
discrete= [var for var in titanic.columns if titanic[var].dtype !='O' and var!='Survived' and titanic[var].nunique()<10]

continuous=[var for var in titanic.columns if titanic[var].dtype !='O' and var!='Survived' and var not in discrete ]


print(f'There is {len(mixed)} mixed variables' )
print(f'There are {len(categorical)} categorical variables' )
print(f'There are {len(discrete)} discrete variables' )
print(f'There are {len(continuous)} continuous variables' )

There is 1 mixed variables
There are 4 categorical variables
There are 3 discrete variables
There are 3 continuous variables

In [7]:
#Missing value

titanic.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [8]:
#Cardinality (no. of different categories)

titanic[categorical+mixed].nunique()

Name        891
Sex           2
Ticket      681
Embarked      3
Cabin       147
dtype: int64

In [9]:
#To split cabin into numerical and category

titanic['Cabin_n']=titanic['Cabin'].str.extract('(\d+)') # for capturing numerical part 
# \d regular expression for digts . \d+ one or more digits
titanic['Cabin_n']=titanic['Cabin_n'].astype('float')
titanic['Cabin_c']=titanic['Cabin'].str[0] #for capturing the first letter

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_n,Cabin_c
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85.0,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123.0,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN

In [10]:
titanic['Title']=titanic['Name'].str.split(',').str[1].str.split('\s+').str[1]

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_n,Cabin_c,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85.0,C,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123.0,C,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,Mr.

In [11]:
titanic.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis='columns', inplace=True)
titanic.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Cabin_n,Cabin_c,Title
0,0,3,male,22.0,1,0,7.2500,S,NaN,NaN,Mr.
1,1,1,female,38.0,1,0,71.2833,C,85.0,C,Mrs.
2,1,3,female,26.0,0,0,7.9250,S,NaN,NaN,Miss.
3,1,1,female,35.0,1,0,53.1000,S,123.0,C,Mrs.
4,0,3,male,35.0,0,0,8.0500,S,NaN,NaN,Mr.

In [12]:
#Split the data into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(titanic.drop(['Survived'], axis=1),
                                                    titanic.Survived,
                                                    test_size=0.1,
                                                    random_state=0)
                                                    
X_train.shape, X_test.shape

((801, 10), (90, 10))

Feature Engine

In [13]:
from feature_engine import missing_data_imputers as mdi

from feature_engine.categorical_encoders import OneHotCategoricalEncoder
from feature_engine.categorical_encoders import RareLabelCategoricalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from feature_engine.wrappers import SklearnTransformerWrapper
from sklearn.preprocessing import StandardScaler

In [14]:
titanic_pipe=Pipeline([
    
    # missing data imputation
    ('imputer_num_arbi', mdi.ArbitraryNumberImputer(arbitrary_number=-1, variables=['Cabin_n'])),
    
    ('imputer_num_mean', mdi.MeanMedianImputer(imputation_method='mean', variables=['Age'])),
    
    ('imputer_cat_freq', mdi.CategoricalVariableImputer(imputation_method='missing', variables=['Embarked'])),
    
    ('imputer_cat_missing', mdi.CategoricalVariableImputer(variables=['Cabin_c', 'Title'])),
    
    # Categorical Encoding
    ('encoder_rare_label', RareLabelCategoricalEncoder(tol=0.01, n_categories=4, variables=['Cabin_c', 'Title'])),
    
    ('categorical_encoder', OneHotCategoricalEncoder(top_categories=None, 
                                                     variables=['Sex', 'Embarked','Cabin_c','Title'], drop_last=True)),
    
    ('scaler', SklearnTransformerWrapper(transformer=StandardScaler(), variables=['Fare', 'Age', 'Cabin_n'])),
    
    
])

In [15]:
titanic_pipe.fit(X_train, y_train)

Pipeline(steps=[('imputer_num_arbi',
                 ArbitraryNumberImputer(arbitrary_number=-1,
                                        variables=['Cabin_n'])),
                ('imputer_num_mean',
                 MeanMedianImputer(imputation_method='mean',
                                   variables=['Age'])),
                ('imputer_cat_freq',
                 CategoricalVariableImputer(variables=['Embarked'])),
                ('imputer_cat_missing',
                 CategoricalVariableImputer(variables=['Cabin_c', 'Title'])),
                ('encoder_rare_label',
                 RareLabelCategoricalEncoder(n_categories=4, tol=0.01,
                                             variables=['Cabin_c', 'Title'])),
                ('categorical_encoder',
                 OneHotCategoricalEncoder(drop_last=True,
                                          variables=['Sex', 'Embarked',
                                                     'Cabin_c', 'Title'])),
                ('scaler',
                 SklearnTransformerWrapper(transformer=StandardScaler(),
                                           variables=['Fare', 'Age',
                                                      'Cabin_n']))])

In [16]:
# Apply tranformations

X_train=titanic_pipe.transform(X_train)
X_test= titanic_pipe.transform(X_test)

# Different Models

KNN

In [46]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier()

knn_param={'n_neighbors': range(1,30)}

knn_grid=GridSearchCV(knn, knn_param, cv=6, return_train_score=True)

knn_grid.fit(X_train, y_train)

#Best validation score
print("Best Mean Cross-validation score: {:.2f}%".format(knn_grid.best_score_*100))

#Best parameters
print('KNN parameters: ', knn_grid.best_params_)

print("Accuracy on training set: {:.3f}%".format(knn_grid.score(X_train, y_train)*100))
print("Accuracy on test set: {:.3f}%".format(knn_grid.score(X_test, y_test)*100))

# Check test data set performance
print("KNN Performance: {:.2f}%" .format(knn_grid.score(X_test,y_test)*100))

Best Mean Cross-validation score: 82.28%
KNN parameters:  {'n_neighbors': 12}
Accuracy on training set: 83.645%
Accuracy on test set: 80.000%
KNN Performance: 80.00%

Decision Tree

In [18]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()

tree_param={"max_depth": range(1,20),
            "max_leaf_nodes": range(2,20)}

tree_grid= GridSearchCV(tree, tree_param, cv=7, return_train_score= True)

tree_grid.fit(X_train, y_train)

#Best validation score
print("Best Mean Cross-validation score: {:.2f}%".format(tree_grid.best_score_*100))

#Best parameters
print('Decision Tree parameters: ', tree_grid.best_params_)

#Best Score
print("Accuracy on training set: {:.3f}%".format(tree_grid.score(X_train, y_train)*100))
print("Accuracy on test set: {:.3f}%".format(tree_grid.score(X_test, y_test)*100))

# Check test data set performance
print("Decision Tree Performance: {:.2f}%" .format(tree_grid.score(X_test,y_test)*100))

Best Mean Cross-validation score: 83.27%
Decision Tree parameters:  {'max_depth': 5, 'max_leaf_nodes': 15}
Accuracy on training set: 86.392%
Accuracy on test set: 81.111%
Decision Tree Performance: 81.11%

SVM

In [47]:
from sklearn.svm import SVC

svc = SVC(kernel = 'rbf')

svc_param = [{'kernel': ['rbf'],'C': [0.001, 0.01, 0.1, 1, 10, 100], 'gamma': [0.001, 0.01, 0.1, 1, 10, 100]}]
             
svc_grid=GridSearchCV(svc,svc_param, cv=6, return_train_score= True)

svc_grid.fit(X_train, y_train)

#Best validation score
print("Best Mean Cross-validation score: {:.2f}%".format(svc_grid.best_score_*100))

#Best parameters
print('SVM parameters: ', svc_grid.best_params_)

#Best Score
print("Accuracy on training set: {:.3f}%".format(svc_grid.score(X_train, y_train)*100))
print("Accuracy on test set: {:.3f}%".format(svc_grid.score(X_test, y_test)*100))

# Check test data set performance
print("SVM Performance: {:.2f}%" .format(svc_grid.score(X_test,y_test)*100))

Best Mean Cross-validation score: 83.39%
SVM parameters:  {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}
Accuracy on training set: 88.390%
Accuracy on test set: 82.222%
SVM Performance: 82.22%

Logistic Regression

In [51]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

log_param={'C': [ 1, 10, 100, 1000]}

log_grid=GridSearchCV(logreg, log_param, cv=6, return_train_score= True )

log_grid.fit(X_train, y_train)

#Best validation score
print("Best Mean Cross-validation score: {:.2f}%".format(log_grid.best_score_*100))

#Best parameters
print('LOgistic Regression  parameters: ', log_grid.best_params_)

#Best Score
print("Accuracy on training set: {:.3f}%".format(log_grid.score(X_train, y_train)*100))
print("Accuracy on test set: {:.3f}%".format(log_grid.score(X_test, y_test)*100))

# Check test data set performance
print("LOgistic Regression Performance: {:.2f}%" .format(log_grid.score(X_test,y_test)*100))

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Best Mean Cross-validation score: 82.90%
LOgistic Regression  parameters:  {'C': 1}
Accuracy on training set: 83.271%
Accuracy on test set: 85.556%
LOgistic Regression Performance: 85.56%